.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
hardware/motor/pxia--motor--controller-encoder/pxia--motor--controller-encoder-backups/
hardware/motor/pxia--motor--device-controller/pxia--motor--device-controller-backups/
hardware/motor/pxia--motor--host-device/pxia--motor--host-device-backups/
*.kicad_sch-bak
